.shop-cart {
    height: 100%;
    overflow-x: hidden;
    padding: 0 16px 0 16px;
    .page-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      .header-content {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #3a3a3a;
      }
      .appeal-record {
        color: #d8182d;
        font-size: 13px;
      }
    }
    .cart-empty {
      .empty-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 50px;
        .img-cart {
          font-size: 40px;
        }
        .item-text {
          color: #3a3a3a;
          font-size: 17px;
        }
        .item-btn {
          margin-top: 18px;
          .hairline-btn {
            width: 150px;
            height: 44px;
            font-size: 17px;
            color: #d8182d;
            border: 1px solid #d8182d;
            padding: 10px 32px;
            border-radius: 4px;
          }
        }
      }
    }
    .options-edit {
      ::v-deep .van-checkbox {
        padding-left: 24px;
        .van-checkbox__label {
          font-size: 13px;
          color: #949497;
        }
      }
      ::v-deep .van-submit-bar {
        .van-submit-bar__bar {
          height: 44px;
          line-height: 44px;
        }
        bottom: 50px;
        .van-submit-bar__text {
          font-size: 17px;
          color: #333333;
        }
      }
      ::v-deep .van-submit-bar__price {
        color: #d8182d;
        font-size: 17px;
        font-weight: 600;
        padding-left: 5px;
      }
    }
    .options-delete {
      ::v-deep .van-checkbox {
        padding-left: 24px;
        float: left;
        .van-checkbox__label {
          font-size: 13px;
          color: #949497;
        }
      }
      ::v-deep .van-submit-bar {
        .van-submit-bar__bar {
          display: flex;
          justify-content: space-between;
          height: 44px;
          line-height: 44px;
        }
        bottom: 50px;
        .van-submit-bar__text {
          font-size: 17px;
          color: #333333;
        }
      }
    }
    ::v-deep .van-button--danger {
      background-color: #d8182d;
      height: 44px;
      line-height: 44px;
      .van-button__text {
        font-size: 18px;
      }
    }
    .order-card {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
      padding: 10px;
      margin-top: 20px;
      ::v-deep .van-checkbox {
        padding-left: 0;
        .van-checkbox__label {
          font-size: 13px;
          color: #949497;
        }
      }
      .checkbox-all {
        .store-info {
          display: flex;
          justify-content: center;
          align-items: center;
          .header-img {
            width: 24px;
            height: 24px;
          }
          span {
            color: #3a3a3a;
            font-size: 11px;
            padding-left: 4px;
          }
        }
      }
      .order-list {
        .delete-button {
            height: 100%;
            right: -1px;
        }
        .order-info {
          width: 100%;
          padding-top: 10px;
          padding-bottom: 16px;
          display: flex;
          justify-content: flex-start;
          .check-item {
            display: flex;
            align-items: center;
          }
          img {
            margin-left: 5px;
            width: 100px;
            height: 100px;
            display: inline-block;
            background-color: #d8182d;
            border-radius: 4px;
          }
          .order-detail {
            width: 55%;
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .info-one,
            .info-two {
              display: flex;
              padding-top: 4px;
              justify-content: space-between;
              font-size: 13px;
            }
            .info-one {
              color: #3a3a3a;
              padding-bottom: 5px;
              span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            .info-two {
              color: #949497;
            }
            .info-count {
              color: #d8182d;
              font-size: 14px;
              font-weight: 600;
              display: flex;
              justify-content: space-between;
              align-items: center;
              ::v-deep .van-stepper__input {
                width: 31px;
                height: 22px;
                padding: 0;
                color: #949497;
                font-weight: normal;
                background-color: transparent;
                border: 1px solid #dbdbdb;
              }
              ::v-deep .van-stepper__plus {
                border: 1px solid #dbdbdb;
                background-color: transparent;
                width: 16px;
                height: 22px;
                border-radius: 0;
              }
              ::v-deep .van-stepper__minus {
                border-radius: 0;
                border: 1px solid #dbdbdb;
                background-color: transparent;
                width: 16px;
                height: 22px;
              }
            }
          }
        }
        .order-total {
          color: #949497;
          font-size: 14px;
          text-align: right;
          span {
            font-weight: 600;
          }
        }
      }
    }
  }